@(categories:Seq[String], posts:Seq[models.Post], cat:String = "")

@import views.Helpers._

@styles = {
    <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/blog.css")'>
}

@main(play.api.Play.current.configuration.getString("site.name").getOrElse(""), styles){

@blog_masthead(categories, cat)

<div class="container">

    @include("header.html")

    <div class="row">

        <div class="col-sm-8 blog-main">

        @for(post <- posts){
            <div class="blog-post">
                <h2 class="blog-post-title">@post.property("title")</h2>
                <p class="blog-post-meta">@post.property("date") by <a href="#">@post.property("author")</a></p>
                @if(post.properties.hasPath("summary")) {
                    @views.Helpers.markdown(post.properties.getString("summary"))
                }
                <a href='/@post.slug'>Read more...</a>
            </div><!--/.blog-post-->
        }

            <ul class="pager">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>

        </div><!-- /.blog-main -->

        @blog_sidebar()

    </div><!-- /.row -->

</div><!-- /.container -->

@include("blog_footer.html")

}
